/praktikum_week_3/praktikum_week_3/nbproject/private/
/praktikum_week_3/praktikum_week_3/build/
/praktikum_week_3/nbproject/private/
/praktikum_week_3/build/
/praktikum_week_4/nbproject/private/
/praktikum_week_4/build/
/praktikum_week_4/praktikum1/nbproject/private/
/praktikum_week_4/praktikum1/build/
/praktikum_week_4/praktikum2/nbproject/private/
/praktikum_week_4/praktikum2/build/
/praktikum_week_4/praktikum3/nbproject/private/
/praktikum_week_4/praktikum3/build/
