/praktikum_week_6/ETS_PBO/nbproject/private/
/ets_pbo/ets_pbo/nbproject/private/
/praktikum_week_8/studiKasus1/nbproject/private/
/praktikum_week_8/studiKasus1/build/
/praktikum_week_8/studiKasus2/nbproject/private/
/praktikum_week_8/studiKasus2/build/
/praktikum_week_8/studiKasus3/nbproject/private/
/praktikum_week_8/studiKasus3/build/
/praktikum_week_8/case1W9/nbproject/private/
/praktikum_week_8/case1W9/build/
/praktikum_week_10/JUnitTesting/target/
